#
# Shorewall version 4 - Rules File
#
# For information on the settings in this file, type "man shorewall-rules"
#
# The manpage is also online at
# http://www.shorewall.net/manpages/shorewall-rules.html
#
###################################################################################################################################################################################
#ACTION		SOURCE		DEST		PROTO	DEST	SOURCE		ORIGINAL	RATE		USER/	MARK	CONNLIMIT	TIME         HEADERS         SWITCH
#							PORT	PORT(S)		DEST		LIMIT		GROUP
#SECTION ALL
#SECTION ESTABLISHED
#SECTION RELATED
SECTION NEW

DNS(ACCEPT)	net		$FW
LDAP(ACCEPT)	net		$FW
Ping(ACCEPT)	net		$FW
SSH(ACCEPT)	net		$FW
SMTP(ACCEPT)	net		$FW
IMAP(ACCEPT)	net		$FW
HTTP(ACCEPT)	net		$FW
HTTPS(ACCEPT)	net		$FW
JabberPlain(ACCEPT)	net	$FW
SMB(ACCEPT)	net		$FW
SVN(ACCEPT)	net		$FW

# ManageSieve Protocol
ACCEPT		net		$FW		tcp	4190

# for client -> krb5kdc, krb4 use udp 750, krb5 uses tcp/udp 88.
ACCEPT		net		$FW		tcp	88
ACCEPT		net		$FW		udp	88
ACCEPT		net		$FW		udp	750

# for kpasswd -> kadmin
ACCEPT		net		$FW		tcp	464
ACCEPT		net		$FW		udp	464
ACCEPT		net		$FW		tcp	749

# for Ganglia gmond in udp_recv_channel configuration directive.
# XXX: IGMP may also require to be enabled if there is router
# transfering multicast traffic, the router uses IGMP to detect
# whether a member is alive.
ACCEPT		all		$FW		udp	8649

# vi:noet ts=8 sts=8 sw=8
