<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta name="robots" content="noindex,nofollow">

<title>Fava Widget Maker</title>
<style type="text/css">
<!--
table * { padding:0; margin:0; border-collapse: collapse; }
td, th { border: 1px solid #ccc; }
-->
</style>
</head>

<body>
<h2>出现错误！</h2>
<hr/>

<!-- TMPL_VAR NAME="errormsg" --><p/>

</body>
</html>

